.createPost {

    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 400px;
        display: flex;
        flex-direction: column;}
    > * {
        margin:20px;
    }
    .__author{
        display: flex;
        justify-content: center;


    }
   
}