@import "./../../libs/variables.scss";

.friend {
  $size: 60px;

  display: flex;

  img {
    width: $size;
    height: $size;

    border-radius: 50%;
  }

  p {
    line-height: $size;
    margin: 0;
    margin-left: 10px;
  }
}
