@import "./../../libs/variables.scss";

.Modal {
  position: fixed;
  top: 0;
  left: calc(50% - 200px);

  width: 400px;
  text-align: center;
  background-color: $main;
  color: $white;
  font-weight: bold;
}
